/*style*/

header {
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 15pt;
	display: grid;
	grid-template-columns: 10% 57% 33%;
}

h1 {
	color: #ffaec5;
	font-family: 'Fredoka One', cursive;
	font-size: 48pt;
	margin-top: -15px;
	text-decoration: none;
}

h2 {
	color: #eb92ab;
	font-family: 'Futura PT';
	font-size: 48pt;
	text-align: center;
	font-weight: 500;
}

h3 {
	color: #eb92ab;
	font-family: 'Futura PT';
	font-size: 48pt;
	font-weight: 400;
	margin-bottom: -25px;
}

h4 {
	color: #eb92ab;
	font-family: 'Futura PT';
	font-size: 14pt;
}

h5 {
	color: #eb92ab;
	font-family: 'Futura PT';
	font-size: 16pt;
	text-align: center;
}

h6 {
	color: #eb92ab;
	font-family: 'Futura PT';
	font-size: 24pt;
	margin-top: auto;
	margin-bottom: auto;
}

p {
	font-family: 'Futura PT';
	font-size: 12pt;
}

body {
	background: #ffe9ef;
	margin-bottom: 60px;
}

main {
	margin: 35px;
}

.container {
	background: #ffe1e9;
	width: 1200px;
	margin: auto;
	margin-top: 70px;
}

footer {
	background: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	padding: 15pt;
	display: grid;
	grid-template-columns: 50% 50%;
}

footer p {
	color: #eb92ab;
	margin-top: -2px;
	margin-left: 50px;
}


/* layout */

button {
	text-align: center;
	color: white;
	font-size: 15pt;
	border-radius: 15px;
	background-color: #ffaec5;
	padding: 8px 15px;
	display: block;
	margin-left: 280px;
}

button:hover {
  background-color: white;
  color: #ffaec5;
  cursor: pointer;
}

#logo {
	width: 66px;
	margin-left: 60px;
	margin-top: -10px;
}

#drinkType {
	display: grid;
	grid-template-columns: 50% 50%;
}

#drink {
	width: 540px;
	height: 157px;
	background-color: #ffe9ef;
	margin: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#drink img {
	width: 140px;
	float: left;
	margin-right: 25px;
	margin-top: 5px;
	margin-left: 15px;
}

#drink p {
	margin-top: -25px;
}

nav {
	margin-right: 50px;
}

nav a {
	font-family: 'Futura PT';
	color: #ffaec5;
	text-decoration: none;
	font-size: 20pt;
	margin-left: 25px;
}

a {
	text-decoration: none;
}

a:hover {
	color: #eb92ab;
}

h6 a {
	text-decoration: underline;
	color: #fbaed2;
}

#drink-pic {
	width: 100%;
}

#location {
	width: 40%;
}

#cart {
	width: 37px;
}

#social-media {
	margin-right: 50px;
}

#social-media img {
	width: 40px;
	float: right;
	margin-right: 30px;
	margin-top: -8px;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.floatleft {
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}

.contactpage {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 50px;
}

.contactpage img {
	width: 95%;
}